Checks: '-*,modernize-*,performance-*,cppcoreguidelines-*,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-macro-usage,-modernize-use-nodiscard,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-avoid-do-while'
HeaderFilterRegex: 'libcommute'
